cloud-monitoring/heartbeat-monitor/org.wso2.cloud.heartbeat.monitor/src/main/resources/utils/livestatus.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CLOUD_HB_MON_XML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SERVER" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TEST" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="NAME" use="required"/>
                      <xs:attribute type="xs:int" name="STATUS" use="required"/>
                      <xs:attribute type="xs:long" name="REPORTED" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="NAME" use="required"/>
            <xs:attribute type="xs:string" name="HOST" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="VERSION"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
