cloud-backends/service-stub/user-manager/org.wso2.carbon.cloud.user.manager.stub/src/main/resources/CloudUserManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://manager.user.cloud.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax297="http://beans.manager.user.cloud.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax295="http://sql.java/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://manager.user.cloud.carbon.wso2.org">
    <wsdl:documentation>CloudUserManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.manager.user.cloud.carbon.wso2.org/xsd">
            <xs:complexType name="TenantInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tenantDisplayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantName" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
            <xs:complexType name="SQLException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SQLState" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="nextException" nillable="true" type="ax295:SQLException"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax296="http://sql.java/xsd" xmlns:ax298="http://beans.manager.user.cloud.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://manager.user.cloud.carbon.wso2.org">
            <xs:import namespace="http://sql.java/xsd"></xs:import>
            <xs:import namespace="http://beans.manager.user.cloud.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="CloudUserManagerSQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ax296:SQLException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantDisplayNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantDisplayNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax297:TenantInfoBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkForDefaultRole">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkForDefaultRoleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTenantDisplayNamesRequest">
        <wsdl:part name="parameters" element="ns:getTenantDisplayNames"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantDisplayNamesResponse">
        <wsdl:part name="parameters" element="ns:getTenantDisplayNamesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CloudUserManagerSQLException">
        <wsdl:part name="parameters" element="ns:CloudUserManagerSQLException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkForDefaultRoleRequest">
        <wsdl:part name="parameters" element="ns:checkForDefaultRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkForDefaultRoleResponse">
        <wsdl:part name="parameters" element="ns:checkForDefaultRoleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CloudUserManagerPortType">
        <wsdl:operation name="getTenantDisplayNames">
            <wsdl:input message="ns:getTenantDisplayNamesRequest" wsaw:Action="urn:getTenantDisplayNames"></wsdl:input>
            <wsdl:output message="ns:getTenantDisplayNamesResponse" wsaw:Action="urn:getTenantDisplayNamesResponse"></wsdl:output>
            <wsdl:fault message="ns:CloudUserManagerSQLException" name="CloudUserManagerSQLException" wsaw:Action="urn:getTenantDisplayNamesCloudUserManagerSQLException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkForDefaultRole">
            <wsdl:input message="ns:checkForDefaultRoleRequest" wsaw:Action="urn:checkForDefaultRole"></wsdl:input>
            <wsdl:output message="ns:checkForDefaultRoleResponse" wsaw:Action="urn:checkForDefaultRoleResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CloudUserManagerSoap11Binding" type="ns:CloudUserManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getTenantDisplayNames">
            <soap:operation soapAction="urn:getTenantDisplayNames" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="CloudUserManagerSQLException">
                <soap:fault use="literal" name="CloudUserManagerSQLException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkForDefaultRole">
            <soap:operation soapAction="urn:checkForDefaultRole" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudUserManagerSoap12Binding" type="ns:CloudUserManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getTenantDisplayNames">
            <soap12:operation soapAction="urn:getTenantDisplayNames" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="CloudUserManagerSQLException">
                <soap12:fault use="literal" name="CloudUserManagerSQLException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="checkForDefaultRole">
            <soap12:operation soapAction="urn:checkForDefaultRole" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudUserManagerHttpBinding" type="ns:CloudUserManagerPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getTenantDisplayNames">
            <http:operation location="getTenantDisplayNames"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkForDefaultRole">
            <http:operation location="checkForDefaultRole"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CloudUserManager">
        <wsdl:port name="CloudUserManagerHttpsSoap11Endpoint" binding="ns:CloudUserManagerSoap11Binding">
            <soap:address location="https://milestones.appfactory.wso2.com:9443/services/CloudUserManager.CloudUserManagerHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="CloudUserManagerHttpsSoap12Endpoint" binding="ns:CloudUserManagerSoap12Binding">
            <soap12:address location="https://milestones.appfactory.wso2.com:9443/services/CloudUserManager.CloudUserManagerHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="CloudUserManagerHttpsEndpoint" binding="ns:CloudUserManagerHttpBinding">
            <http:address location="https://milestones.appfactory.wso2.com:9443/services/CloudUserManager.CloudUserManagerHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
