cloud-backends/service-stub/user-manager/org.wso2.carbon.cloud.user.manager.stub/src/main/resources/CloudUserManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://beans.manager.user.cloud.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://manager.user.cloud.carbon.wso2.org" xmlns:ax27="http://util.manager.user.cloud.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://manager.user.cloud.carbon.wso2.org">
    <wsdl:documentation>CloudUserManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.manager.user.cloud.carbon.wso2.org/xsd">
            <xs:complexType name="TenantInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tenantDisplayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.manager.user.cloud.carbon.wso2.org/xsd">
            <xs:complexType name="CloudUserManagerException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://util.manager.user.cloud.carbon.wso2.org/xsd" xmlns:ax210="http://beans.manager.user.cloud.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://manager.user.cloud.carbon.wso2.org">
            <xs:import namespace="http://util.manager.user.cloud.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.manager.user.cloud.carbon.wso2.org/xsd"/>
            <xs:element name="CloudUserManagerCloudUserManagerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CloudUserManagerException" nillable="true" type="ax27:CloudUserManagerException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantDisplayNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantDisplayNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:TenantInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTenantDisplayNamesRequest">
        <wsdl:part name="parameters" element="ns:getTenantDisplayNames"/>
    </wsdl:message>
    <wsdl:message name="getTenantDisplayNamesResponse">
        <wsdl:part name="parameters" element="ns:getTenantDisplayNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="CloudUserManagerCloudUserManagerException">
        <wsdl:part name="parameters" element="ns:CloudUserManagerCloudUserManagerException"/>
    </wsdl:message>
    <wsdl:portType name="CloudUserManagerPortType">
        <wsdl:operation name="getTenantDisplayNames">
            <wsdl:input message="ns:getTenantDisplayNamesRequest" wsaw:Action="urn:getTenantDisplayNames"/>
            <wsdl:output message="ns:getTenantDisplayNamesResponse" wsaw:Action="urn:getTenantDisplayNamesResponse"/>
            <wsdl:fault message="ns:CloudUserManagerCloudUserManagerException" name="CloudUserManagerCloudUserManagerException" wsaw:Action="urn:getTenantDisplayNamesCloudUserManagerCloudUserManagerException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CloudUserManagerSoap11Binding" type="ns:CloudUserManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTenantDisplayNames">
            <soap:operation soapAction="urn:getTenantDisplayNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudUserManagerCloudUserManagerException">
                <soap:fault use="literal" name="CloudUserManagerCloudUserManagerException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudUserManagerSoap12Binding" type="ns:CloudUserManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTenantDisplayNames">
            <soap12:operation soapAction="urn:getTenantDisplayNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CloudUserManagerCloudUserManagerException">
                <soap12:fault use="literal" name="CloudUserManagerCloudUserManagerException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CloudUserManagerHttpBinding" type="ns:CloudUserManagerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTenantDisplayNames">
            <http:operation location="getTenantDisplayNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CloudUserManager">
        <wsdl:port name="CloudUserManagerHttpsSoap11Endpoint" binding="ns:CloudUserManagerSoap11Binding">
            <soap:address location="https://identity.cloudlocal.wso2.com:9443/services/CloudUserManager.CloudUserManagerHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CloudUserManagerHttpsSoap12Endpoint" binding="ns:CloudUserManagerSoap12Binding">
            <soap12:address location="https://identity.cloudlocal.wso2.com:9443/services/CloudUserManager.CloudUserManagerHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CloudUserManagerHttpsEndpoint" binding="ns:CloudUserManagerHttpBinding">
            <http:address location="https://identity.cloudlocal.wso2.com:9443/services/CloudUserManager.CloudUserManagerHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>